/*image border style*/
.img{
    border:black;
    text-align:center;
    margin:Auto;
}
/*entire page/html page style*/
html{
    margin:auto;
    width:100%;
    height:100%;
    font-style:italic;
    background:silver;
    text-align:center;}
/*id style*/
#changeMe {
        margin:auto;
        width:500px;
        height:230px;
        border:3px solid black;
        padding:2px;
        background:black;
        overflow:scroll;
        font-style:normal;
        text-align:left;
        display:flex;

     }



/*body style*/
body{

    align-items:center;
    text-align:center;
    }
/*paragraph element style*/
p{
    margin:auto;
    width:230px;
    height:120px;
    border:3px solid Black;
    padding:2px;
    background:white;
    overflow:scroll;
    font-style:normal;

    }
